body {
  margin: 0;
  font-family:400 15px/1.8 "Lato", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0400ff;
  color: rgb(255, 255, 255);
}


/*space error*/
#myTopnav > a:nth-child(2){
display: none;
}


.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
     .green_mobile {
      background-color: #ff0000;
     }
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*slide show code*/


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}
.center{
  text-align:center ;
}

/*pritam {
    font-size: 13px;
    padding: 4px 12px;
    position: absolute;
    bottom: -162px;
    left: 394px;*/
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 2pxpx;
    font-size: 15PX;
    font-size:15px;
    padding: 4px 12px;
    position: relative;
    bottom: 0px;
    left: 8px;
}

.border-w-shadow {
  border-style: solid;
    border-width: 1px;
    BORDER-COLOR: #DCDCDC;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*PARALLAX CSS*/
body, html {
  height: 100%;
}

.parallax-1, .parallax-2, .parallax-3 {
  /* The image used */


  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-1 {
  background-image: url('tree-736885__480.jpg');
}

.parallax-2 {
background-image:url('pritam.jpg');
}
  
.parallax-3 {
  background-image: url('pritam kannojiya.jpg');
}

.parallax {
  /* The image used */
  background-image: url('img_parallax.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.border1 {
  background-color: #111;
  color: #fff;
  padding: 432px;
  font-size: 6px;
  letter-spacing: 5px;
  font-size: 30px;
  padding: 4px 12px;
  position: absolute;
  bottom: -4px;
  left: 304px;
}

.border2 {
  background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.border4 {
  background-color: black;
    color: white;
    font-size: 30px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  }
  @media screen and (max-width: 600px) {
.border1{
  font-size: 18px;
position: absolute;
left:47px
}
  }
  .border4 {
    position: relative;
    bottom: -25px;
}

 /*our team*/
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  text-align: center;
  text-transform: capitalize;
  color: #726a95;
  margin: 10px 0;
  position: relative;
}

.title::after{
  content: "";
  position: absolute;
  width: 20%; height: 2px;
  background-image: linear-gradient(to left, transparent 5%, #726a95);
  bottom: -10px; left: 50%;
  transform: translate(-50%);
}

.team-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
  transition: all 0.3s;
}

.member:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transform: translateY(-20px);
}

.member img{
  display: block;
  width: 150px; height: 150px;
  object-fit: cover;
  border:4px solid #726a95;
  border-radius: 50%;
  margin: 0 auto;
}

.member h2{
  text-transform: uppercase;
  font-size: 24px;
  color: #726a95;
  margin: 15px 0;
}

.member p{
  font-size: 15px;
  color: #838383;
  line-height: 1.6;
}

.border5 {
  position: relative;
  bottom: -205px;
  background-color: #000;
  color: white;
  font-size: 30px;
}
@media screen and (max-width: 600px) {
 .border5 {
  bottom: -435px;
 }
}
.container {
  background: #F8F8F8;
  width: 100%;
  height: auto;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container .map {
  flex-basis: 40%;
  float: left;
}

.container .contact-form {
  flex-basis: 60%;
  float: left;
}


.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
@media screen and (max-width: 600px) {
  .container .contact-form .title {
    font-size: 33px;
  }
}
.container .contact-form .subtitle {
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 4% 5% 8%;
  color:#242424;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .container .contact-form .subtitle {
    font-size: 15px;
  }
}
.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}

.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}

.container .contact-form .btn-send {
  background: #A383C9;
  width: 180px;
  height: 60px;
  color: #F8F8F8;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  max-width: 700px;
  min-width: 100px;
  background: #333;
  border-radius: 3px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, .5);
  overflow: hidden;
  margin: 40px auto;
  font-family: 'Open Sans', Arial, sans-serif;
}

.form h {
  color: #fff;
  font-size: 28px;
  padding: 20px;
  background: rgba(12, 85, 50, .5);
}

body > div:nth-child(17) > div > div.contact-form > form {
  text-align: center;
}

@media screen and (max-width: 541px) {
  .container .contact-form input,
  .container .contact-form textarea {
    width: 180px;
  }
  }
  @media screen and (max-width: 541px) {
    .mobile_padding{
  padding: 5px !important;
    }
  }
